version: '3.8'


services:
  api:
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
  

  redis:
    ports:
      - "6379:6379"