# 1. El Servicio (La "dirección IP" estable de Redis)
apiVersion: v1
kind: Service
metadata:
  name: redis  # <-- IMPORTANTE: Este nombre será el hostname para tu app
spec:
  ports:
  - port: 6379
  selector:
    app: redis
---
# 2. El Despliegue (El contenedor en sí)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379